## Read a Dartaset In Pyspark

In [1]:
# pip install pyspark

In [2]:
import pyspark
print(pyspark.__version__)

3.5.4

In [3]:
import pandas as pd
pd.read_csv("test1_2.csv")

       Name  age  Experience
0     Krish   31           5
1  Sudhansh   30          10
2     Sunny   29           2

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [6]:
spark.read.option('header', 'true').csv("test1_2.csv").show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|         5|
|Sudhansh| 30|        10|
|   Sunny| 29|         2|
+--------+---+----------+

In [7]:
df_pyspark = spark.read.option('header', 'true').csv("test1_2.csv")

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)