In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [2]:
spark.read.option('header', 'true').csv("test1_2.csv").show()
df_pyspark = spark.read.option('header', 'true').csv("test1_2.csv")

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|         5|
|Sudhansh| 30|        10|
|   Sunny| 29|         2|
+--------+---+----------+

In [3]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [4]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='5'),
 Row(Name='Sudhansh', age='30', Experience='10'),
 Row(Name='Sunny', age='29', Experience='2')]

## définir le type par défaut des colonnes

In [5]:
df_pyspark = spark.read.option('header', 'true').csv("test1_2.csv")
df_pyspark.printSchema()

df_pyspark = spark.read.option('header', 'true').csv("test1_2.csv", inferSchema=True)
df_pyspark.printSchema()

df_pyspark.dtypes

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

## Voir plus d'informations sur le dataframe

In [6]:
## le nombre de valeur (count), la moyenne des valeurs (mean), la valeur minimum (min), valeur maximum (max), stddev ?

In [7]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|5.666666666666667|
| stddev| NULL| 1.0|4.041451884327381|
|    min|Krish|  29|                2|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

## selection colonnes

In [8]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   Krish|
|Sudhansh|
|   Sunny|
+--------+

In [9]:
df_pyspark.select(['Name', 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|         5|
|Sudhansh|        10|
|   Sunny|         2|
+--------+----------+

## ajout colonne

In [10]:
df_pyspark = df_pyspark.withColumn("Experience After 2 year", df_pyspark['Experience'] + 2)
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|   Krish| 31|         5|                      7|
|Sudhansh| 30|        10|                     12|
|   Sunny| 29|         2|                      4|
+--------+---+----------+-----------------------+

## suppression colonne

In [11]:
df_pyspark = df_pyspark.drop("Experience After 2 year")
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|         5|
|Sudhansh| 30|        10|
|   Sunny| 29|         2|
+--------+---+----------+

## rename colonne

In [12]:
df_pyspark = df_pyspark.withColumnRenamed("Name", "New Name")
df_pyspark.show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   Krish| 31|         5|
|Sudhansh| 30|        10|
|   Sunny| 29|         2|
+--------+---+----------+